@using XEngine.Web.Utility.BreadCrumbSiteMap
@{
    ViewBag.Title = "About";
}
<div>
    @{
        if (Html.PopulateBreadcrumb(Request.Url.AbsolutePath).ToString() != "")
        {
            <ol class="breadcrumb">
                @Html.PopulateBreadcrumb(Request.Url.AbsolutePath)
            </ol>
        }
    }
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
